footer {
  height: 10vh;
  width: 100vw;
  background-color: $color-one;
  display: flex;
  justify-content: center;


  i{
    font-size: 30px;
    margin-bottom: 0;
    color: black;
    position: relative;
    padding-top: 20px;
  }
  .fa-facebook{
    color: blue;
  }
}
