footer {
  height: 80px;
  width: 100vw;
  background-color: $color-one;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;

  i {
    font-size: 30px;
    margin-bottom: 0;
    color: black;
    position: relative;
    padding: 20px;
  }
  .fa-facebook {
    color: blue;
  }
}
