* {padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
width: 100%;
background-color:rgb(30, 33, 37);

}
h2 {
    color: rgb(238, 224, 207);
    font-family:'Times New Roman', Times, serif;
    
    padding: 5px;
    margin-top: 5px;
    box-shadow: 5px 5px 10px gold;
    text-shadow: 5px 5px 10px rgb(44, 43, 43);
}
nav {
    margin-top: 10px;
    padding: 5px;
}